
* {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
}
div { 
  font-family: sans-serif;
  font-size: 20px;
  color: hsl(0, 0%, 0%);
  padding: 50px;
  height: 1500px;
  border:  2px solid red;
  background-image: url(https://pps.whatsapp.net/v/t61.24694-24/212442205_491790019016003_67513510343582560_n.jpg?ccb=11-4&oh=01_AVye1JKfE7d282-lELsZCxzwx5lKVIwQIXXVwMiNA46Kpg&oe=62BBFC0B);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-origin: padding-box;
  background-clip: content-box;
  background-attachment: fixed;

  background: linear-gradient(rgba(0, 174, 255, 0.5), rgba(255, 0, 0, 0.7)), url(https://pps.whatsapp.net/v/t61.24694-24/212442205_491790019016003_67513510343582560_n.jpg?ccb=11-4&oh=01_AVye1JKfE7d282-lELsZCxzwx5lKVIwQIXXVwMiNA46Kpg&oe=62BBFC0B) no-repeat center padding-box fixed;
}