* {
  box-sizing: border-box;
  background-color: #5e5e5e;
}

div {
  color: springgreen;
}
h1 {
  color: currentColor;
}

span {
  color: #FF1348;
}

span p {
  color: hsl(200, 100%, 70%);
}
span h1 {
  color: initial;
}
span h3 {
  color: inherit;
}
span h2 {
  color: unset;
}