* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

footer {
    display: flex;
    margin-top: auto;
    background-color: gray;
    color: white;
    height: 4rem;
    flex: 1;
    align-items: center;
    justify-content: center;
}