* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* Variaveis */
  --bg-color: #edf2ff;
  --text-color: #00082f;
}

body.dark {
  --bg-color: #00082f;
  --text-color: #edf2ff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}


.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

.username {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  opacity: 0.8;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 3.7px;
  border: #4263eb solid 4px;
  transition: transform 5s;
}

img.avatar:hover {
  transform: rotate(3600deg);
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  background-color: #4263eb;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 300ms;
}

ul li a:hover {
  background-color: #364fc7;
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;

  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}
