<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
      body{
        padding-top: 50px;
      }
    </style>

    <title>Buildando com EJS</title>
  </head>
  <body class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS</a>
      </nav>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Node com EJS</h1>
        <p>Aprendendo a trabalhar com arquivos EJS</p>
      </div>
    </main>

    <footer class="text-center text-muted">
      <p>Feito com 💚 by Thiago de Paula Souza</p>
    </footer>
  </body>
</html>
